@import "tailwindcss";

@variant dark (.dark &);

@theme {
    /* Custom colours */
    --color-bg-primary: #fffdf5;
    --color-bg-primary-dark: #1a1a1a;
    --color-text-primary: #333333;
    --color-text-primary-dark: #ffffff;
    --color-accent: #dc2626;
}
